*.iml
.gradle
/local.properties
/.idea/
.idea/misc.xml
/.idea/misc.xml
/.idea/gradle.properties
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/codeStyles
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/codeStyles/
